<%- include('./includes/top.ejs') %>
</head>
<body>
    <form method="POST" action="/"> 
        <div>
            <label for="name">Name</label>
            <input type="text" name="name" id="name">
            <label for="email">Email</label>
            <input type="text" name="email" id="email">
            <label for="animal">Favorite Animal</label>
            <input type="text" name="animal" id="animal">
        </div>
        <button class="btn" type="submit">Add Product</button>
    </form>
</body>
</html>