<%- include('./includes/top.ejs') %>
</head>
<body>
    <h2>Name</h2>
    <h1> <%= userName %> </h1>
    <br>
    <h2>Email</h2>
    <h1> <%= userEmail %> </h1>
    <br>
    <h2>Favorite Animal</h2>
    <h1> <%= userAnimal %> </h1>
    <br>
</body>
</html>